@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.body {
}

.title-font {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 60px;
    color: aliceblue;
}

.main-font {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: rgb(39,82,9);
}

.main-question-font {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: rgb(39,125,9);
}

.main-answer-font {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: rgb(39,92,9);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.image {
    text-align: center;
}